doctype html
html
  head
    title Ajax Countries
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

    script(src="http://code.jquery.com/jquery-2.0.3.min.js")
    script(src="/javascripts/utility.js")
    script(src="/javascripts/main.js")